<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_ioc:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_ioc_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring_ioc/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_ioc" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-core-4.3.13.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-beans-4.3.13.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-context-4.3.13.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-expression-4.3.13.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/com.springsource.org.apache.log4j-1.2.15.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/com.springsource.org.apache.commons.logging-1.1.1.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>