<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--setter方法注入-->
    <bean id="userService" class="com.ln.ioc.UserServiceImpl">
        <property name="str" value="属性注入"/>
        <property name="ud" ref="userDao"></property>
    </bean>
    <bean id="userDao" class="com.ln.ioc.UserDaoImpl"/>


    <!--DI-->
    <!--构造方法注入-->
    <bean id="car" class="com.ln.Di.Car">
        <constructor-arg name="name" value="宝马"/>
        <constructor-arg name="price" value="100万"/>
    </bean>
    <!--注入集合-->
    <bean name="flower" class="com.ln.Di.Flower">
        <property name="category"><!--数组-->
            <list>
                <value>玫瑰</value>
                <value>百合</value>
            </list>
        </property>
        <property name="list"><!--list-->
            <list>
                <value>qiqi</value>
                <ref bean="car"/>
            </list>
        </property>
        <property name="map"><!--map-->
           <map>
               <entry key="aaa" value="aaa"></entry>
           </map>
        </property>
        <property name="properties">
            <props>
                <prop key="username">root</prop>
                <prop key="password">123456</prop>
            </props>
        </property>
    </bean>
</beans>